{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Title{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static "visit/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "visit/css/all.css" %}">



{% block style %}
    <style>
            input, select, textarea{
            background: #e2e3e5;
            direction: rtl;
            padding: 5px;
            border: 1px solid #0c63e4;
            border-radius: 5px;
            //width: 100%;
        }
        .lbl{
            box-shadow: 2px 2px 2px #ccc;
        }
        </style>
{% endblock %}

</head>
<body style="direction: rtl">

<div class="container">

    <div class="header">

        <div class="row bg-primary bg-opacity-50">

            <div class="col-4 text-end my p-4">
                <a href="{% url "visit:main_page" %}" class="text-decoration-none text-dark">سامانه ثبت بیماران</a>
            </div>

            <div class="col-2 my p-4">

                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    {% if user.profile.fullname == "" %}
                        <span class="p-1"> {{ user.get_username }}</span>
                    {% else %}
                        <span class="p-1">{{ user.profile.fullname }}</span>
                    {% endif %}
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url "visit:edit_info" %}">
                            <i class="fa fa-person-booth"></i>
                            نمایه کاربری
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url "account:logout_view" %}">
                            <i class="fa fa-door-closed"></i>
                            خروج
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-2 my p-4"></div>

            <div class="col-4 text-start my p-4">
                <i class="fa fa-calendar-day"></i>
                {% block date %}
                <p class="" id="date"></p>
                {% endblock %}

            </div>
        </div>
    </div>

    <div class="content">
        {% block main %}

        {% endblock %}
    </div>

    <div class="footer">
         <div class="row align-items-center bg-secondary my-2" style="height: 250px">
            <span class="text-center text-white">تمامی حقوق وبسایت محفوظ می باشد</span>
         </div>
    </div>

</div>


<script src="{% static "visit/js/jQuery.js" %}"></script>
<script src="{% static "visit/js/bootstrap.bundle.js" %}"></script>
<script src="{% static "visit/js/all.js" %}"></script>

</body>
</html>