{% extends "visit/_base.html" %}
{% load static %}
{% block title %}
اضافه کردن ویزیت
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}



{% block main %}
    <form action="" method="post">
        {% csrf_token %}

            {% include "visit/_form.html" with field=add_document_form.patient lbl_size=2 %}
            <!--{% include "visit/_form.html" with field=add_document_form.datetime lbl_size=2 %} -->
            {% include "visit/_form.html" with field=add_document_form.doctor lbl_size=2 %}
            {% include "visit/_form.html" with field=add_document_form.kind lbl_size=2 %}
            {% include "visit/_form.html" with field=add_document_form.description lbl_size=2 %}




        <button class="btn btn-primary my-4" type="submit">ثبت</button>
    </form>

{% endblock %}