{% extends "visit/_base.html" %}
{% load static %}
{% block title %}
اضافه کردن ویزیت
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}

<script src="{% url 'visit:js-catalog' %}"></script>
<script src="{% static 'admin/js/core.js' %}"></script>
<script type="stylesheet" src="{% static 'admin/css/base.css' %}"></script>
<script type="stylesheet" src="{% static 'admin/css/widgets.css' %}"></script>


{% block main %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="bg-success">
            {{ add_document_form.media }}
            {{ add_document_form.as_table }}
        </table>



        <button class="btn btn-primary my-4" type="submit">Confirm</button>
    </form>
{% endblock %}