{% extends "visit/_base.html" %}
{% load static %}

{% block title %}
Add Patient
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}



{% block main %}
    <form action="" method="post" class="m-2">
        {% csrf_token %}

        {% include "visit/_form.html" with field=add_form.file_number lbl_size=2 %}
        {% include "visit/_form.html" with field=add_form.fullname lbl_size=2 %}
        {% include "visit/_form.html" with field=add_form.doctor lbl_size=2 %}
        {% include "visit/_form.html" with field=add_form.age lbl_size=2 %}
        {% include "visit/_form.html" with field=add_form.phone lbl_size=2 %}

        <button class="btn btn-primary my-4" type="submit">ثبت</button>
    </form>
{% endblock %}