{% extends "visit/_base.html" %}
{% load static %}

{% block title %}
Add Doctor
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}



{% block main %}
    <form action="" method="post">
    {% csrf_token %}
        <div class="modal-body">
            <div class="">
                    {% include "visit/_form.html" with field=doctor_form.user lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.fullname lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.role lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.age lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.city lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.phone lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.degree lbl_size=2 %}
                    <br/>
                    {% include "visit/_form.html" with field=doctor_form.title lbl_size=2 %}
                    {% include "visit/_form.html" with field=doctor_form.address lbl_size=2 %}
            </div>
        </div>


     <button class="btn btn-primary my-4" type="submit">ثبت</button>
    </form>
{% endblock %}