{% extends "visit/_base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}

{% block style %}
<style>
input, select, textarea{
    background: #5c636a50;
    direction: rtl;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

</style>

{% endblock %}

{% block main %}
    <form action="" method="post">
        {% csrf_token %}
    <!-- <table class="bg-success">
            {{ edit_doctor }}
        </table> -->

        <div class="modal-body">
            <div class="">
                    {% include "visit/_form.html" with field=edit_doctor.fullname lbl_size=2 %}
                    {% include "visit/_form.html" with field=edit_doctor.age lbl_size=2 %}
                    {% include "visit/_form.html" with field=edit_doctor.city lbl_size=2 %}
                    {% include "visit/_form.html" with field=edit_doctor.phone lbl_size=2 %}
                    {% include "visit/_form.html" with field=edit_doctor.degree lbl_size=2 %}
                    <br/>
                    {% include "visit/_form.html" with field=edit_doctor.title lbl_size=2 %}
                    {% include "visit/_form.html" with field=edit_doctor.address lbl_size=2 %}
            </div>
        </div>

        <button class="btn btn-primary my-4" type="submit">ثبت</button>
    </form>
{% endblock %}