{% extends "visit/_base.html" %}

{% block title %}
    صفحه اصلی
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}

{% block main %}



{% if role == 0 or role == 1 or role == 2%}
    <button type="button" class="btn btn-primary m-3 btn-lg" style="width: 300px;height: 100px">
        <a href="{% url "visit:add_patient" %}" class="text-decoration-none text-white">
            Add Patient
        </a>
    </button>
    </br >
    <button type="button" class="btn btn-primary m-3 btn-lg" style="width: 300px;height: 100px">
        <a href="{% url "visit:add_doc" %}" class="text-decoration-none text-white">
            Add File
        </a>
    </button>
    </br >
{% endif %}

{% if role == 1 or role == 2%}
    <button type="button" class="btn btn-primary m-3 btn-lg" style="width: 300px;height: 100px">
        <a href="{% url "visit:show_patient" %}" class="text-decoration-none text-white">
            Patient List
        </a>
        <span class="text-muted">({{ count }})</span>
    </button>
    </br >
    <button type="button" class="btn btn-primary m-3 btn-lg" style="width: 300px;height: 100px">
        <a href="{% url "visit:edit_info" %}" class="text-decoration-none text-white">
            Edit Profile
        </a>
    </button>
{% endif %}

{% if role == 2 %}
    <p> سطح 3 </p>
{% endif %}



{% endblock %}