{% extends "visit/_base.html" %}
{% load static %}
{% block title %}
    صفحه اصلی
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}

{% block style %}
<style>
.content{
    background: #d3ddff;
}
.but{
    width: 300px;
    height: 100px;
    margin: 10px;
}
</style>
{% endblock %}

{% block main %}



{% if role == 0 or role == 1 or role == 2%}
    <button type="button" class="btn btn-primary btn-lg but">
        <a href="{% url "visit:add_patient" %}" class="text-decoration-none text-white">
            افزودن بیمار
        </a>
    </button>
    </br >
    <button type="button" class="btn btn-primary btn-lg but">
        <a href="{% url "visit:show_patient" %}" class="text-decoration-none text-white">
            لیست بیماران
        </a>
        <span class="text-muted">({{ count }})</span>
    </button>
    </br >
{% endif %}

{% if role == 1 or role == 2%}

    <button type="button" class="btn btn-primary btn-lg but">
        <a href="{% url "visit:add_doc" %}" class="text-decoration-none text-white">
            افزودن جراحی
        </a>
    </button>
    </br>
    <button type="button" class="btn btn-primary btn-lg but">
        <a href="{% url "visit:show_files" %}" class="text-decoration-none text-white">
            لیست جراحی ها
        </a>
        <span class="text-muted">({{ count_visit }})</span>
    </button>
{% endif %}

{% if role == 2 %}
     <button type="button" class="btn btn-primary btn-lg float-start but" >
        <a href="{% url "visit:add_doctor" %}" class="text-decoration-none text-white">
            افزودن دکتر
        </a>
    </button>
     <button type="button" class="btn btn-primary btn-lg float-start but">
        <a href="{% url "visit:add_user" %}" class="text-decoration-none text-white">
            افزودن اکانت
        </a>
    </button>
{% endif %}

{% endblock %}