{% extends "visit/_base.html" %}
{% load static %}

{% block title %}
{{ patient.fullname }}
{% endblock %}

{% block date %}
{{ date }}
{% endblock %}

{% block main %}
    <ul class="list-group bg-danger bg-opacity-25 text-end">

        {% include "visit/_item.html" with icon='fa-city' name='کد ملی/شناسه :' field=patient.file_number %}

        {% include "visit/_item.html" with icon='fa-people-carry' name='نام و نام خانوادگی :' field=patient.fullname %}

        {% include "visit/_item.html" with icon='fa-book-reader' name='تاریخ تولد :' field=patient.age %}

        {% include "visit/_item.html" with icon='fa-info-circle' name='درج در سامانه :' field=patient.age %}

    </ul>
{% endblock %}