@font-face {
  font-family: roya;
  src: url(../webfonts/BRoya.ttf);
}

body{
    direction: rtl;
    font-family: roya, serif;
    background-color: #adb5bd01;
    margin: 0;
    padding: 0;
    font-size: 20pt;
}

ul{
    margin: 0;
    padding:0;
}
i{
    font-family: 'Josefin Sans', sans-serif !important;
}

.big_font{
    font-size: 20pt !important;
}
a.none-text-decor, a{
    text-decoration: none;
    color: #000000;
}

.blue{
    color: blue;
}
.darkblue{
    color: darkblue;
}
.green{
    color: green;
}
darkgreen{
    color: darkgreen;
}
.red{
    color: red;
}
.darkred{
    color: darkred;
}
.yellow{
    color: yellow;
}
.cyan{
    color: darkcyan;
}